.Cockpit {
    text-align: center;
  }
  
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    background-color: green;
    border: 1px solid blue;
    cursor: pointer;
    padding: 10px;
    color: white;
  }
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .Cockpit button.Red {
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  .Cockpit button.Red:hover {
    background-color: salmon;
    color: black;
  }