@import '../../../../theme/scss/typography';
@import '../../../../theme/scss/colors';

.dropDownButton {
  display: inline-block;
  overflow:hidden;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0) !important;
  padding-right: 5px !important;
  margin: 0;
  position: relative; // needed because the ripples are absolute
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  max-width: 100%;
  width: 100%;

  &:disabled {
    cursor: not-allowed !important;

    .arrow {
      color: $grey-500 !important;

      &.inverted {
        color: $grey-400 !important;
      }
    }
  }

  .arrow {
    font-size: 13px !important;
    &.inverted {
      color: $white !important;
    }
  }
}
.iconWrapper {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  composes: body1;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
  padding-left: 10px;
  text-align: left;
  flex: 1 1;

  &.inverted {
    color: $white !important;
  }

  &.isHint {
    color: $grey-400;
  }
}
