@import '../../../../theme/scss/colors';

.focus {
  height: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px;
  border-color: $theme-500;
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
}
.error {
  composes: focus;
  border-color: $theme-danger;
}
